.menu{
    border-right: 2px solid black;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu-item{
    text-align: center;
    margin: 20px;
    background-color: gainsboro;
    cursor: pointer;
}
.menu-item:hover{
    background-color: rgb(170, 170, 170);
}
.menu-item  p{
    padding-top: 15px;
}
.btn-avatar{
    margin: auto;
    width: 170px;
}
.avatar-profile{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
}